@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
/* Variables generales */
$background_color: rgb(255, 255, 255);
$background_nav: green;
$background_header: rgb(168, 15, 15);

$color_font: rgb(0, 0, 0);
$color_title: red;

$font_weight_general: 400;
$font_size_general: 13px;
$weight_bold: 600;

$height_nav:45px;
$height_section: 100vh;
    
$height_icon: 20px;
$height_nav_icon: 20px;

$font_family: 'Poppins';

/* Variables que hacen referencia a las "cajas" de productos */
$height_box: 400px;
